* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, td, th, font, p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

.clr,  .cfloat:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.diss {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*------------------------------------------------------ #按钮 ----*/
.btn {
    background-color:#07E;
    color:#DDF;
    display: inline-block;
    padding:2px 6px;
    height: 24px;
    line-height: 22px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn:hover {
    color:#FFF;
    background: #08F;
}