/*---------------------------------------------------------- 全局设定 ------*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, td, th, font, p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

.clr,  .cfloat:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*-------------------------------------------------------- #sky 区域 ----*/
#sky {
	height:40px;
	line-height: 40px;
	overflow: hidden;
	position: relative;
	border-bottom:1px solid #DDD;
}

#skyMenu {
	height:40px;
	position: absolute;
	top:0;
	left:0;
}

#skyInfo {
	width:200px;
	height:40px;
	position: absolute;
	top:0;
	right:0;
	font-size: 11px;
	padding-right:4px;
}

#skyInfoMsg {
	height:20px;
	line-height: 20px;
	margin:4px 0 4px 6px;
	min-width:20px;
	color:#FFF;
	background-color:#08F;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border-radius: 4px;
	font-style: normal;
}

#skyInfo a {
	display: block;
	float: right;
	padding:0 8px;
	height:28px;
	line-height: 28px;
	margin-top:6px;
	color:#444;
	cursor: pointer;
	border-radius: 2px;
	border-left:1px solid #F0F0F0;
	text-decoration: none;
}

#skyInfo a:hover {
	background-color:#EEE;
}

/*------------------------------------------------------ #arena 区域 ----*/
#arena {

}

/*---------------------------------------------------------- 滚动条 ------*/
.scro::-webkit-scrollbar, .hierachy_block_hlt::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.scro::-webkit-scrollbar-thumb, .hierachy_block_hlt::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
}

.scro::-webkit-scrollbar-button, .hierachy_block_hlt::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.scro::-webkit-scrollbar-corner, .hierachy_block_hlt::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*---------------------------------------------------------- 禁止选择 ------*/
#sky, .menu .task_menu, .task_labels, .disselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}