/**
 * 本文件将提供一组扩充 DOM 行为的帮助函数
 *
 * 本文件依赖:
 *   > z.js
 *
 * @author  zozoh(zozohtnt@gmail.com)
 * 2012-10 First created
 */
(function($, $z){
	$z.def("log", {
		out : function(level, msg){
			if(!LOG_LEVEL)
				return;
			var str = level + ": " + $z.time.nowstr() + ": " + msg;
			// WebKit 浏览器特殊的控制台打印方法
			if(console && console.log){
				console.log(str);
			}else{
				alert(str);
			}
		},
		w : function(msg) {
			if(window.LOG_LEVEL >= 1)
				this.out("W", msg);
		},
		i : function(msg) {
			if(window.LOG_LEVEL >= 2)
				this.out("I", msg);
		},
		d : function(msg) {
			if(window.LOG_LEVEL >= 3)
				this.out("D", msg);
		},
		t : function(msg) {
			if(window.LOG_LEVEL >= 4)
				this.out("T", msg);
		}
	});
})(window.jQuery, window.NutzUtil);